@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --cool-gray: #374151;
    --primary-color: #FACC15;
    --cool-white: #F4F4F5;
    --white-smoke: #F5F5F5;
}

h1 {
    text-align: center;
    background: var(--cool-gray);
    color: var(--cool-white);
    border-bottom: 0.5rem solid var(--primary-color);
    padding: 1rem;
}

body {
    background: var(--white-smoke);
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

.hero-img {
    max-width: 250px;
    margin: auto;
    display: block;
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
}

button {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--cool-white);
    background: var(--cool-gray);
}

button:hover {
    cursor: pointer;
}

#output {
    display: block;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid;
}

footer {
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: var(--cool-white);
    background: var(--cool-gray);
    border-top: 0.5rem solid var(--primary-color);
}

footer div {

}

footer p {
    max-width: 600px;
    margin: auto;
    padding-top: 0.5rem;
}

footer  a {
    color: var(--primary-color);
}