html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
}

button {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;    
}

#output {
    display: block;
    width: 100%;
    min-height: 10vh;
    padding: 1rem;
    border: 1px solid;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}

footer div {
    text-align: center;
}

footer p {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding-top: 0.5rem;
}

footer p a {
    color: black;
}